<mat-toolbar class="header" color="primary">
  <span>Keep Note</span>
  <app-search></app-search>
  <nav class="">
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>settings</mat-icon>
    </button>
  </nav>
</mat-toolbar>
